In [10]:
import pandas as pd

In [20]:
dataset= pd.read_csv("dataset.csv")
first = True

for col in dataset.columns:
    if first:
        first = False
        continue

    dataset[col] = dataset[col].apply(lambda x: x.replace(",", "."))
    dataset[col] = dataset[col].astype(float)

dataset

                       date  ...  % Silica Concentrate
0       2017-03-10 01:00:00  ...                  1.31
1       2017-03-10 01:00:00  ...                  1.31
2       2017-03-10 01:00:00  ...                  1.31
3       2017-03-10 01:00:00  ...                  1.31
4       2017-03-10 01:00:00  ...                  1.31
...                     ...  ...                   ...
737448  2017-09-09 23:00:00  ...                  1.71
737449  2017-09-09 23:00:00  ...                  1.71
737450  2017-09-09 23:00:00  ...                  1.71
737451  2017-09-09 23:00:00  ...                  1.71
737452  2017-09-09 23:00:00  ...                  1.71

[737453 rows x 24 columns]

In [12]:
# check for missing values
print("Are there missing values?")
dataset.isna().values.any()

Are there missing values?

False

In [21]:
type(dataset["Amina Flow"].iloc[0])

numpy.float64